<% layout('/layouts/boilerplate') %>

<h1>Edit this campground</h1>
<form action="/campgrounds/<%= campground._id %>?_method=PATCH" method="POST">
  <div>
    <label for="title">Campground title</label>
    <input
      type="text"
      name="campground[title]"
      id="title"
      value="<%= campground.title %>"
    />
  </div>

  <div>
    <label for="location">Campground Location</label>
    <input
      type="text"
      name="campground[location]"
      id="location"
      value="<%= campground.location %>"
    />
  </div>
  <button>Update campground</button>
</form>
